  body{
  background-color: rgb(6, 95, 80);
  color:gold



  }
  
  
  
  
  
  
  div{background-color: rgb(129, 124, 134);
  color:rgb(183, 202, 211);
  width: 120px; 
  margin: 15px 15px 15px 0;
  padding: 10px 0px;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px dashed rgb(195, 206, 207);
  border-left: 3px dashed rgb(195, 206, 207);
   display: inline-block;
  border-radius: 5px 15px;
 


  }

 img{
   height: 200px;
   width: 190px;
  border: 10px dotted rgb(137, 231, 49);
  margin: 10px 0;
  padding: 10px;
  border-radius: 50%;


 }
  















