 body{
  margin: 0;
   background-color: dimgrey;
   margin-top: 80px;
   text-align: center;

 }
  


 .navbar{
  background-color: #1c1c20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
 }

  .navbar div{

  display: flex;
  height: 80px;
  align-items: center
  }



 .navbar a{
  color: rgb(245, 239, 239);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
  
 }


 .navbar a:hover{
  color:rgba(202, 202, 228, 0.863);
  


 }

 #logo{
  font-size: 45px;
  color: #aaaabe;


 }



.cards{
  
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 25px;
 padding: 25px;
 }
 
 .cards > div{
 background-color: rgb(201, 186, 186);
 width: 200px;
 
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
  border-radius:5%;
 }
 
 
 .cards > div >img{
 width: 100%;
 height: 130px;
 
 
 
 
 
 
 }
 
 .cards > div:hover{
 background-color: rgb(238, 192, 192);
 
 
 
 
 
 
 }
 
 
 
 
 
 
 
 
 .cards > div > div{
  height: 70px;
 
  display: flex;
  gap: 10px;
  justify-content: center;
 
 
 }
 
 .cards > div > div > div{
  
 
 
 
 
 }
 
 
 
 
 
 
 
 
 























